# Imports

In [30]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.tsa.holtwinters import ExponentialSmoothing

In [31]:
test=yf.Ticker('AAPL')
test.info.get('currentPrice')

210.825

# Ticker List

In [33]:
tickers = [
    "ITC.NS", "HINDUNILVR.NS", "POWERGRID.NS", "COALINDIA.NS", "NTPC.NS",
    "BAJAJ-AUTO.NS", "NESTLEIND.NS", "HDFCLIFE.NS", "PGHH.NS", "PIDILITIND.NS",
    "ADANIENT.NS", "RELIANCE.NS", "TATAMOTORS.NS", "IDEA.NS", "ZEEL.NS",
    "INDUSINDBK.NS", "YESBANK.NS", "BANDHANBNK.NS", "IRCTC.NS",
    "SBIN.NS", "PNB.NS", "ICICIBANK.NS", "TATAPOWER.NS", "TATACHEM.NS",
    "VOLTAS.NS", "SAIL.NS", "ASHOKLEY.NS", "BANKBARODA.NS", "DLF.NS"
]

len(tickers)

29

# Storing relevent details of Tickers in a Pandas Dataframe

In [35]:
stock_data=[]
for ticker in tickers:
     try:
        info=yf.Ticker(ticker).info
        stock_data.append({
            'ticker':ticker,
            'currentPrice':info.get('currentPrice'),
            'beta':info.get('beta'),
            'marketCap':info.get('marketCap'),
            'volume': info.get('volume'),
            'dividendYield': info.get('dividendYield'),
            'sector': info.get('sector')
        })
        print(f"Fetched: {ticker}")
     except Exception as e:
        print(f"Failed: {ticker} - {e}")
dataset=pd.DataFrame(stock_data)
print(dataset.head())
print(dataset.describe())

Fetched: ITC.NS
Fetched: HINDUNILVR.NS
Fetched: POWERGRID.NS
Fetched: COALINDIA.NS
Fetched: NTPC.NS
Fetched: BAJAJ-AUTO.NS
Fetched: NESTLEIND.NS
Fetched: HDFCLIFE.NS
Fetched: PGHH.NS
Fetched: PIDILITIND.NS
Fetched: ADANIENT.NS
Fetched: RELIANCE.NS
Fetched: TATAMOTORS.NS
Fetched: IDEA.NS
Fetched: ZEEL.NS
Fetched: INDUSINDBK.NS
Fetched: YESBANK.NS
Fetched: BANDHANBNK.NS
Fetched: IRCTC.NS
Fetched: SBIN.NS
Fetched: PNB.NS
Fetched: ICICIBANK.NS
Fetched: TATAPOWER.NS
Fetched: TATACHEM.NS
Fetched: VOLTAS.NS
Fetched: SAIL.NS
Fetched: ASHOKLEY.NS
Fetched: BANKBARODA.NS
Fetched: DLF.NS
          ticker  currentPrice   beta      marketCap    volume  dividendYield  \
0         ITC.NS        416.80  0.055  5217293697024   8577381           3.77
1  HINDUNILVR.NS       2519.60  0.367  5924688232448   7241739           2.09
2   POWERGRID.NS        298.55  0.258  2776693997568   7072933           5.00
3   COALINDIA.NS        380.95  0.033  2348915097600   4675734           8.06
4        NTPC.NS        342.70  0.229  3323048755200  17233499           3.43

               sector
0  Consumer Defensive
1  Consumer Defensive
2           Utilities
3              Energy
4           Utilities
       currentPrice       beta     marketCap        volume  dividendYield
count     29.000000  29.000000  2.900000e+01  2.900000e+01      27.000000
mean    1535.774483   0.413828  2.835607e+12  1.916714e+07       1.845185
std     2738.388678   0.340997  4.122230e+12  6.275357e+07       1.748990
min        7.170000  -0.176000  1.347541e+11  6.467000e+03       0.050000
25%      246.250000   0.204000  6.229055e+11  8.657800e+05       0.640000
50%      759.000000   0.367000  1.529988e+12  6.153736e+06       1.410000
75%     1421.900000   0.521000  2.776694e+12  8.271453e+06       2.500000
max    13194.000000   1.433000  2.055780e+13  3.415593e+08       8.060000

# Handling NULL/Missing values

In [37]:
dataset.isnull()

    ticker  currentPrice   beta  marketCap  volume  dividendYield  sector
0    False         False  False      False   False          False   False
1    False         False  False      False   False          False   False
2    False         False  False      False   False          False   False
3    False         False  False      False   False          False   False
4    False         False  False      False   False          False   False
5    False         False  False      False   False          False   False
6    False         False  False      False   False          False   False
7    False         False  False      False   False          False   False
8    False         False  False      False   False          False   False
9    False         False  False      False   False          False   False
10   False         False  False      False   False          False   False
11   False         False  False      False   False          False   False
12   False         False  False      False   False          False   False
13   False         False  False      False   False           True   False
14   False         False  False      False   False          False   False
15   False         False  False      False   False          False   False
16   False         False  False      False   False           True   False
17   False         False  False      False   False          False   False
18   False         False  False      False   False          False   False
19   False         False  False      False   False          False   False
20   False         False  False      False   False          False   False
21   False         False  False      False   False          False   False
22   False         False  False      False   False          False   False
23   False         False  False      False   False          False   False
24   False         False  False      False   False          False   False
25   False         False  False      False   False          False   False
26   False         False  False      False   False          False   False
27   False         False  False      False   False          False   False
28   False         False  False      False   False          False   False

In [38]:
dataset_cleaned=dataset.dropna(subset=dataset.columns.difference(['ticker']),how='all')

In [39]:
dataset_cleaned['dividendYield'].isnull().sum()

2

## Handling missing values in Dividend Yield

In [41]:
missing_dividend_tickers = dataset[dataset['dividendYield'].isna()]['ticker'].tolist()
missing_dividend_tickers

['IDEA.NS', 'YESBANK.NS']

In [42]:
dy_test=yf.Ticker(missing_dividend_tickers[0])
(dy_test.history(period='10y',interval='3mo')['Dividends'])

Date
2015-07-01 00:00:00+05:30    0.361781
2015-10-01 00:00:00+05:30    0.000000
2016-01-01 00:00:00+05:30    0.000000
2016-04-01 00:00:00+05:30    0.000000
2016-07-01 00:00:00+05:30    0.361781
2016-10-01 00:00:00+05:30    0.000000
2017-01-01 00:00:00+05:30    0.000000
2017-04-01 00:00:00+05:30    0.000000
2017-07-01 00:00:00+05:30    0.000000
2017-10-01 00:00:00+05:30    0.000000
2018-01-01 00:00:00+05:30    0.000000
2018-04-01 00:00:00+05:30    0.000000
2018-07-01 00:00:00+05:30    0.000000
2018-10-01 00:00:00+05:30    0.000000
2019-01-01 00:00:00+05:30    0.000000
2019-04-01 00:00:00+05:30    0.000000
2019-07-01 00:00:00+05:30    0.000000
2019-10-01 00:00:00+05:30    0.000000
2020-01-01 00:00:00+05:30    0.000000
2020-04-01 00:00:00+05:30    0.000000
2020-07-01 00:00:00+05:30    0.000000
2020-10-01 00:00:00+05:30    0.000000
2021-01-01 00:00:00+05:30    0.000000
2021-04-01 00:00:00+05:30    0.000000
2021-07-01 00:00:00+05:30    0.000000
2021-10-01 00:00:00+05:30    0.000000
2022-01-01 00:00:00+05:30    0.000000
2022-04-01 00:00:00+05:30    0.000000
2022-07-01 00:00:00+05:30    0.000000
2022-10-01 00:00:00+05:30    0.000000
2023-01-01 00:00:00+05:30    0.000000
2023-04-01 00:00:00+05:30    0.000000
2023-07-01 00:00:00+05:30    0.000000
2023-10-01 00:00:00+05:30    0.000000
2024-01-01 00:00:00+05:30    0.000000
2024-04-01 00:00:00+05:30    0.000000
2024-07-01 00:00:00+05:30    0.000000
2024-10-01 00:00:00+05:30    0.000000
2025-01-01 00:00:00+05:30    0.000000
2025-04-01 00:00:00+05:30    0.000000
2025-07-01 00:00:00+05:30    0.000000
Name: Dividends, dtype: float64

#### see if a company has atleast 5 non-zero dividend values in the past 10 years. If yes, then apply time series forecasting to predict the missing dividend yield value, else fill the value with 0.

In [44]:
def forecast_dividend_yield(series,ticker_symbol):
    try:
        series = series[series > 0]
        series.index = pd.to_datetime(series.index)
        series = series.resample('Q').sum()

        if len(series) < 6:
            return series.mean() 
        model = ExponentialSmoothing(series, trend='add', seasonal=None).fit()
        forecast = model.forecast(1)[0]
        price_series = yf.download(ticker_symbol, period="1d")['Close']
        latest_price = price_series[-1] if not price_series.empty else 1
        return round((forecast * 4 / latest_price) * 100, 2)

    except Exception as e:
        print(f"Forecast failed: {e}")
        return series.mean()

def handle_missing_dividendYield(missing_dividend_ticker, threshold=5):
    ticker = yf.Ticker(missing_dividend_ticker)
    try:
        dividend_history = ticker.history(period="10y")["Dividends"]
        non_zero_count = (dividend_history > 0).sum()
        if non_zero_count < threshold:
            return 0.0 
        else:
            return forecast_dividend_yield(dividend_history,missing_dividend_ticker)
    except Exception as e:
        print(f"Error fetching data for {missing_dividend_ticker}: {e}")
        return 0.0

In [45]:
for ticker in missing_dividend_tickers:
    dataset.loc[dataset['ticker'] == ticker, 'dividendYield'] = handle_missing_dividendYield(ticker)